rect {
  fill: white;
  stroke: silver;
  stroke-width: 2;
}

text {
  dominant-baseline: middle;
  text-anchor: middle;
  font-size: 20px;
}

path {
  fill: none;
  stroke: silver;
  stroke-width: 2;
}

.text-lg {
  font-size: 20px;
}

.hide {
  visibility: hidden;
}
